<meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="apple-touch-icon" href="/easypay/static/images/logo_iphone.png">
  <meta name="apple-mobile-web-app-capable" content="yes">


</head>

<body>

<div id="includednavbar"></div>
    
<div class="container-fluid">




  <table class="table table-striped">

<form class="form-horizontal" id="ajaxform" >

    <tbody>
        {{for x in produtos:}}
        <tr>
            <td >{{=x[1]}}<br><br>
                <h3><span class="label label-warning">Preço: {{=x[3]}}</span></h3>
                <br><br>
                <input   produto="{{=x[1]}}" preco="{{=x[3]}}" figura="{{=x[4]}}" class="btn-primary btn" type="submit" value="Comprar">
                <!--<input id="enviar" name="enviar" class="btn btn-primary" type="submit" value="Comprar">-->
            </td>
            <td align="center"><img style="max-width:200px;max-height:200px;" src="/easypay/default/produtos/download/{{=x[4]}}"></td>
        </tr>
        {{pass}}
    </tbody>
</form>
  </table>

</div>
  <script src="http://www.rcsousa.com.br:8888/js/pushstream.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/easypay/static/js/links.js"></script>
    <script type="text/javascript" language="javascript" charset="utf-8" >
        $(function(){$("#includednavbar").load("navbar.html");});
        newImg = document.createElement("img");

        function abreimg(link){
            window.open(link,'image','width=400,height=400'); 
        }

      function messageReceived(text, id, channel) {
      obj_a = text.replace(/'/g, '"');
      var lastChar = obj_a.substr(obj_a.length - 1);
        if (lastChar == "}") {
            obj_a = obj_a; }
        else {
            obj_a = obj_a+"}";
        }
      console.log(obj_a);
      obj = JSON.parse(obj_a);
      var image_name = obj.image_name;
      window.location.assign("/easypay/default/tela_qrcode_off.html?txid="+image_name);


    };

    var canal = "caixa-1";
    var pushstream = new PushStream({
        host: "www.rcsousa.com.br",
        port: 8443,
        useSSL:true,
      modes: "websocket"
    });
    pushstream.onmessage = messageReceived;
    pushstream.addChannel(canal);
    pushstream.connect();
    
    $('.btn-primary').click(function() {
        console.log($(this).attr('produto'));
        console.log($(this).attr('preco'));
        console.log($(this).attr('figura'));
        item = $(this).attr('produto');
        valor = $(this).attr('preco');
        figura = $(this).attr('figura');
     });

        
    $("#ajaxform").submit(function(e)
    {
        //var item = $(this).attr("produto");
        var quantidade = "1";
        //var valor = $(this).attr("preco");
        //var figura = $(this).attr("figura");
        var postData  = {
                        "ordem" :{ "item" : item, "quantidade" : quantidade, "valor" : valor, "figura": figura},
                        "canal" : "caixa-1" 
                        };


        //confirm(JSON.stringify(postData));
        $( "form" )[ 0 ].reset();
        $.ajax(
            {
                // beforeSend: function(xhr) {
                //xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
                //}
                url : "http://www.rcsousa.com.br:9191/qrcode",
                type: "POST",
                data : JSON.stringify(postData),
                success:function(data, textStatus, jqXHR) 
                    {
                        alert("Aguarde confirmação do Cliente");
                        //alert(sel.options[sel.selectedIndex].value);
                        //alert(opcao);
                    },
                error: function(jqXHR, textStatus, errorThrown) 
                    {
                    }
                
                
            });


        e.preventDefault();	//STOP default action
    });

    </script>
    
</body>


</html>
