<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="apple-touch-icon" href="/easypay/static/images/logo_iphone.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
<div id="includednavbar"></div>

<br><br><br><br><br>
<div class="container">
<form class="form-horizontal" id="ajaxform">
<table class="table table-striped">

  <tr>
      <td>Item</td><td>{{=ordem['item']}}</td>
  </tr>
  <tr>
      <td>Valor</td><td>{{=ordem['valor']}}</td>
  </tr>
  <tr>
    <td>Parcelas</td><td>{{=ordem['quantidade']}}</td>
  <tr>
      <td>Hora</td><td>{{=ordem['timestamp']}}</td>
  </tr>
  <tr>
  <tr>
      <td>Imagem</td><td><img style="max-width:500px;max-height:200px;" src="/easypay/default/produtos/download/{{=ordem['figura']}}"></td>
  </tr>
  <tr>
      <td ><input id="aprovar" name="aprovar" class="btn btn-primary" type="submit" value="Aprovar" onclick=Aprovar(this);></td>
      <td align="right"><input id="enviar" id="rejeitar" name="rejeitar" class="btn btn-primary" type="submit" value="Rejeitar" onclick=Rejeitar(this);></td>
  </tr>

</table>
</form>
</div>
</div>


  <script src="http://www.rcsousa.com.br:8888/js/pushstream.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/easypay/static/js/links.js"></script>
    <script type="text/javascript" language="javascript" charset="utf-8">
            $(function(){$("#includednavbar").load("navbar.html");});

            function Aprovar(objButton){  
            //alert(objButton.name);
            //txid = objButton.name;
            acao = objButton.value;
            }
            function Rejeitar(objButton){  
            //alert(objButton.name);
            //txid = objButton.name;
            acao = objButton.value;
            }
    $("#ajaxform").submit(function(e)
    {
        var txid = "{{=ordem['id']}}"
        var postData  = {"txid" : txid, "acao": acao };


        //confirm(JSON.stringify(postData));
        $( "form" )[ 0 ].reset();
        $.ajax(
            {
                // beforeSend: function(xhr) {
                //xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
                //}
                url : "http://www.rcsousa.com.br:9191/aprovar_despesa_comprador",
                type: "POST",
                data : JSON.stringify(postData),
                success:function(data, textStatus, jqXHR) 
                    {
                        confirm(acao+" Despesa?");
                        if (acao == "Aprovar") {
                            window.location.assign("/easypay/static/confirma.html")}
                        if (acao == "Rejeitar") {
                            window.location.assign("/easypay/static/rejeita.html")}
                    },
                error: function(jqXHR, textStatus, errorThrown) 
                    {
                    }

            });


        e.preventDefault();	//STOP default action
    });
    </script>
</body>
</html>
