<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="apple-touch-icon-precomposed" href="/easypay/static/images/logo_iphone.png">
  <link rel="stylesheet" href="/easypay/static/css/login.css">
  <meta name="apple-mobile-web-app-capable" content="yes">



</head>

<div class="login-page">

  <div class="form">
      <center><img style="max-width:300px;max-height:120px; margin-top: 20px;" src="/easypay/static/images/logo.png"></center><br>
    <form class="login-form" method="post">
      <input type="text" id="auth_user_username" name="username" placeholder="usuário"/>
      <input type="password" id="auth_user_password" name="password" placeholder="senha"/>
      <button type="submit">login</button>

  </div>
</div>



{{=form.custom.end}}
